*.o
*~
ch341prog

/debian/ch341prog\.debhelper\.log
/debian/debhelper-build-stamp
/debian/files
/tmp
*.pdb
Debug
*.user
db
greybox_tmp
incremental_db
output_files
/utils/SignalTap/V01/*.jdi
/utils/SignalTap/V01/*.txt
*.bak
/msvc/test-firmware.bin
/libusb-1.0.24.7z
/msvc/LT3582_read.bin
/utils/SignalTap/doc/ep4ce55f23-sdram-v01-20200604.pdf
